<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" tempDirectory="D:\Inetpub\vhosts\digitalbull.in\tmp" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=103.120.176.21;Initial Catalog=digit196_fmart;Integrated Security=false;User Id=digit196_fmart;Password=t3N3vX*ur6rtvVt_;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>